<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>MARUTI</title>
</head>
<body>
    <h1>Maruti Employee Portal</h1>
    <h2>Login</h2>
    <h4>Enter your credentials</h4>
    <form action="/login" method="post">
        <input type="text" name="loginUserName" placeholder="username" id="loginInput">
        <br>
        <input type="password" name="loginPassword" placeholder="password" id="loginInput">
        <br>
        <button type="submit">Login</button>
    </form>
</body>
</html>